.mainBox {
    margin-top: 16%;
    margin-bottom: auto;
    background-color: black;
    color: white;
    padding: 30px;
    border-radius: 5px 100px 5px 100px;
}

.bold {
    font-weight: bold;
    font-style: italic;
    font-family: 'Lobster';
}

#current-word {
    font-size: 20px;
    color: rebeccapurple;
    font-weight: bold;
}