.mainBox {
    margin-top: 16%;
    margin-bottom: auto;
    background-color: black;
    color: white;
    padding: 30px;
    border-radius: 5px 100px 5px 100px;
    width: 60%;
}

.bold {
    font-weight: bold;
    font-style: italic;
    font-family: 'Lobster';
}

#current-guess {
    font-size: 4vw;
    font-weight: bold;
    margin-left: 10px;
}

.grad1 {
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 15px;
}

.big {
    font-size: 4vw;
}

.small {
    font-size: 2vw;
}

#directions-text, 
#wins-desc, 
#guesses-desc, 
#losses-desc,
#incorrect-desc {
    font-size: 1vw;
}